<style>
	td.details-control {
		background: url('img/add-control.png') no-repeat center center;
		cursor: pointer;
	}
	tr.shown td.details-control {
		background: url('img/remove-control.png') no-repeat center center;
	}
</style>
<div class="container rounded">
	<h1>
		Atender
	</h1>
	<table id="datatable" class="table table-hover" style="width:100%">
		<thead class='color-primary-dark text-light'>
			<tr>
                <th>Corte</th>
                <th>Status</th>
                <th class="dt-head-right">Data</th>
			</tr>
		</thead>
	</table>
	<br />
    <script src='js/atender.js'></script>
</div>