<style>
	td.details-control {
		background: url('img/add-control.png') no-repeat center center;
		cursor: pointer;
	}
	tr.shown td.details-control {
		background: url('img/remove-control.png') no-repeat center center;
	}
</style>
<div class="container rounded">
	<h1>
		<button class="btn color-accent float-right text-light hvr-grow" id="btn-novo">Novo</button>
		Consultar Cortes
	</h1>
	<table id="datatable" class="table table-hover" style="width:100%">
		<thead class='color-primary-dark text-light'>
			<tr>
				<th></th>
                <th>Nome</th>
                <th>Preço</th>
			</tr>
		</thead>
	</table>
	<br />
    <script src='js/consultar-corte.js'></script>
</div>