<div class="container rounded" data-aos="zoom-in">
	<h1>
		<button class="btn color-accent float-right text-light hvr-grow" id="btn-novo">Novo</button>
		Cadastro de Cortes
	</h1>
	<table id="datatable" class="table table-hover" style="width:100%">
		<thead class='color-primary-dark text-light'>
			<tr>
				<th>Id</th>
                <th>Nome</th>
                <th>Preço</th>
				<th class='dt-head-right'>Atualizado</th>
			</tr>
		</thead>
	</table>
	<br />
    <script src='js/corte.js'></script>
</div>