<div class="modal-header color-primary">
    <h4 class='modal-title text-light'>E-mails da Barbearia</h4>
    <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">&times;</button>
</div>
<div class="modal-body">
    <div class="container">
        <h5>E-mail Principal:</h5>
        <div class="form-control">
            <p>ricknogueira1231@gmail.com</p>
        </div>
        <hr>
        <h5>Outros E-mails:</h5>
        <div class="form-control">
            <p>ricknogueira1231@gmail.com</p>
        </div>
        <div class="form-control">
            <p>ricknogueira1231@gmail.com</p>
        </div>
        <div class="form-control">
            <p>ricknogueira1231@gmail.com</p>
        </div>
    </div>
</div>