<style>
	td.details-control {
		background: url('img/remove-control.png') no-repeat center center;
	}
</style>
<div class="container rounded" data-aos="zoom-in">
	<h1>
		Finalizar Atendimento
	</h1>
	<table id="datatable" class="table table-hover" style="width:100%">
		<thead class='color-primary-dark text-light'>
			<tr>
                <th>Protocolo de Atendimento</th>
                <th>Barbeiro</th>
                <th>Corte</th>
                <th></th>
			</tr>
		</thead>
	</table>
	<br />
    <script src='js/finalizar-atendimento.js'></script>
</div>