<link href="./lib/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
<form role="form">
	<div class="text-center">
		<img src="img/logo.png" width="300">
	</div>
	<div class="modal-body">
		<div class="form-group">
			<label for="login">Usuário</label>
			<div class="input-group mb-3">
	  			<div class="input-group-prepend">
	    			<span class="input-group-text" id="basic-addon1">
	    				<i class="fa fa-envelope fa-fw"></i>
	    			</span>
	  			</div>
	  			<input type="text" class="form-control" placeholder="Escreva seu email" name="login" required autofocus>
		    </div>
	    </div>

		<div class="form-group">
			<label for="password">Senha</label>
			<div class="input-group mb-3">
	  			<div class="input-group-prepend">
	    			<span class="input-group-text" id="basic-addon1">
	    				<i class="fa fa-key fa-fw"></i>
	    			</span>
	  			</div>
	  			<input type="password" id="password" class="form-control" placeholder="Escreva sua senha" name="password" required>
		    </div>
		</div>
	</div>
	</div>
	<div class="modal-footer">
		<a href="index.html" class='btn btn-info' type='button'>Ver Site</a>
		<button class="btn btn-primary" type="submit">Entrar</button>
	</div>
</form>
<script src="js/login.js"></script>